/*=====================================
        VARIABLES
======================================*/

// Colors
$primary-color: #c4c4c4;
$primary-btn-color: #D84035;
$white: #fff;
$black: #000;
$timer-bg-color: #A8C5D5;

//Flex Dispaly
$flex-dsp: flex;