/*=====================================
        DROPDOWN
======================================*/

nav {
  & li {
    position: relative;
  }
  & ul {
    display: none;
    position: absolute;
    background-color: $primary-color;
    border: 4px dotted $black;
    border-top: none;
    margin-top: 1.25rem;
    padding: 1rem;
  }
  & ul li {
    padding-bottom: .5rem;
  }
  & ul li:last-child {
    padding-bottom: 0;
  }
  & li:hover span{
    color: $primary-btn-color;
    border-bottom: 1px solid $primary-btn-color;
  }
}

.search-box {
  position: relative;
  & ul {
    display: none;
    position: absolute;
    top: 10px;
    background-color: $primary-color;
    border: 4px dotted $black;
    border-top: none;
    z-index: 2;

  }
  & ul li {
    padding: 0 .5rem .5rem .5rem;
  }
  & ul li:first-child {
    padding-top: .5rem;
  }
  & input {
    width: 100%;
  }
}

.visible {
  display: block;
}