/*=====================================
        FLEXBOX
======================================*/

.flex-space {
  @include flex-row;
  justify-content: space-between;
  & .logo {
    flex: 0 0 70%;
  }
}
.flex-col {
  @include flex-col-rev;
}

.search {
  & nav {
  display: $flex-dsp;
  flex-direction: row;
  justify-content: space-between;
  }
}
footer {
  & ul {
  display: $flex-dsp;
  flex-direction: row;
  justify-content: space-between;
  } 
}