/*=====================================
        FLEXBOX
======================================*/

.flex-space {
  @include flex-row;
  justify-content: space-between;
  & .logo {
    flex: 0 0 70%;
  }
}
.flex-col {
  @include flex-col-rev;
}
.sales-contain {
  @include flex-col;
}
.search {
  & nav {
  display: $flex-dsp;
  flex-direction: row;
  justify-content: space-between;
  }
  & .search-bar {
    @include flex-row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }
}
.latest-img {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer {
  margin-top: 1rem;
  & ul {
  display: $flex-dsp;
  flex-direction: row;
  justify-content: space-between;
  } 
  & p {
    text-align: center;
  }
}