/*=====================================
        BASE STYLES
======================================*/

* {
  box-sizing: border-box;
  & ul {
    padding-inline-start: 0;
  }
}

body {
  font-family: 'Barlow', sans-serif;
}

ul,
nav {
  list-style-type: none;
}

